.ipynb_checkpoints
flash-attention
*.json
*.pt
*.out
*.txt
mmcif_dir
*.sh
mmcif_cache.json
.vscode/
__pycache__/
*.egg-info
build
dist

# files from script downloads
data
openfold/resources/
tests/test_data/
